@model List<Student>
@{
    ViewBag.Title = "addStudents";
}

<h2>Add Students To @ViewBag.course.CourseName Course</h2>
<form method="post">
    <table class="table">
        <tr class="thead-dark">
            <th>Student Name</th>
            <th>Add</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>@item.Name</td>

        <td>@Html.CheckBox("stds." + item.Id.ToString())</td>
        <td>
            <input type="number" max="100" min="0" class="form-control" name="degree" />
        </td>
    </tr>
        }
    </table>
    <input type="submit" class="btn btn-success" value="Add" />
    @Html.ActionLink("Back to List", "Index", "Departments", new { @class = "btn btn-danger" })
</form>